.header{
padding: 3rem;
text-align: center;

}
.icon{
height: 42px;
}
.container{
  display: flex;
  justify-content: center !important;
}
form{
  flex: 0 0 80%;
  padding: 2rem 2rem 1rem 2rem;
  border: 1px solid blue;
  border-radius: .25rem;
  text-align: center;
}
.texto{
  text-align: center;
}
